
@{
    ViewBag.Title = "Timx";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Timx</h2>
@using (Html.BeginForm())
{
    <label>soA : </label>
    <input type="text" name="soA" />
    <label>soB : </label>
    <input type="text" name="soB" />
    <input type="submit" value="Tìm giá trị X"/>
}
<label>gia tri cua x la : @ViewBag.timgtx </label>